* {
  outline: 1px red dashed;
}

@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

body {
  background-color: #ffe600;
}

.mainTitle {
  display: flex;
  font-family: "Vollkorn", italic;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 18em;
  justify-content: center;
  line-height: 12.5rem;
  margin-top: 6rem;
  margin-bottom: 2rem;
  text-align: center;
}

.quizPlayContent {
  display: flex;
  justify-content: center !important;
  
}

.quizPlayBtn {
  display: flex;
  color: black;
  text-decoration: none;
  width: 7em;
  height: 1.7em;
  font-size: 2em;
  align-items: center;
  justify-content: center;
  border-radius: 0.6em;
  cursor: pointer;
  background-color: #ffffff;
}