.createQuizTitle {
  font-size: 3em;
  margin-top: 0.5em;
} 

.name {
  display: flex;
  width: 30em;
  height: 3em;
  border-radius: 2em;
  background-color: #FFF;
  border: none;
}

::placeholder {
  text-align: center;
}

.createBtn {
  display: flex;
  margin-top: 1em;
  justify-content: center;
  font-family: "Vollkorn";
  font-weight: 100;
  border: none;
  align-items: center;
  color: black;
  font-size: 1.4em;
  width: 7.5em;
  height: 2em;
  background-color: #FFF;
  border-radius: 2em;
  cursor: pointer;
}

a:link, a:visited, a:active {
  text-decoration:none;
}