.contentNavBarBtns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: antiquewhite;
  padding: 1rem;
}

.contentHomeBtn {
  display: flex;
}

.loginNadSignInBtns {
  display: flex;

}
.homeBtn,
.loginBtn,
.signInBtn  {
  width: 8rem;
  height: 2rem;
  border-radius: 30px;
  border: none;
  justify-content: end;
  background-color: cornflowerblue;
  color: white;
  margin-right: 1rem;
  cursor: pointer;
}
